<!DOCTYPE html>

<html>
  <head>
    <style>
      label {
        display: block;
        margin-bottom: 0.5em;
      }
    </style>
  </head>
  <body>
    <form method="POST" action="/">
      <input type="submit" value="Acknowledge Orders"/>
    </form>
  </body>

</html>
