<!DOCTYPE html>

<html>
  <head>
    <style>
      label {
        display: block;
        margin-bottom: 0.5em;
      }
    </style>
  </head>
  <body>
    <form method="POST" action="/new">
      <label>
        Brand:
        <select name="brand">
          <option>Vans</option>
          <option>TNF</option>
        </select>
      </label>
      <label>
        Store ID: <input type="text" name="store_id"/>
      </label>
      <label>
        Order ID: <input type="text" name="order_id"/>
      </label>
      <label>
        Customer: <input type="text" name="customer"/>
      </label>
      <input type="submit"/>
    </form>
  </body>

</html>
